.hero-container{
    width: 100%;
    height: 70vh;
    position: relative;
}

.image{
    width: 100%;
    height: 70vh;
     position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    filter: brightness(20%);
}

.image video{
   width: 100%;
   height: 90vh;
   object-fit: cover;
   object-position: center;

}

.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    gap: 20px;
    color: white;
    margin: auto;
    text-align: center;
}

.content h1{
    font-size: 55px;
}

.content p {
    font-size: 25px;
}

.actions {
    display: flex;
    gap: 20px;
}

.actions button{
    padding: 15px 20px;
    font-size: 18px;
    border-radius:50px ;
    border: none;
    transition: 0.4s;
}

#Demo{
    border: 2px solid black;
}
#Demo:hover{
    background-color: rgb(170, 170, 170);
}

#start{
    background-color: black;
    color: white;
}

#start:hover{
    background-color: rgb(53, 52, 52);
}